
@{
    Layout = null;
}

<div>Merhaba</div>
<br />
<h2>Selam</h2>
<table class="table table-bordered">
    <thead>
    <th>Kategori ID</th>
    <th>Kategori Adı</th>
    <th>Kategori Açıklama</th>
    <th>Kategori Durumu</th>
    </thead>
    <tbody>

    </tbody>
</table>